@use '../variables' as v;
@use '../mixins' as m;

.step {

    @include m.form-step-base;

    &__form {
        @include m.center;
        flex-direction: column;

        &-label {
            display: flex; /* Расположить надпись и инпут в одной строке */
            align-items: center; /* Выравнивание текста и инпута по вертикали */
            gap: 1rem; /* Отступ между текстом и инпутом */
            width: 100%;
            
            & span {
                margin-bottom: 1.125rem;
            }
        }

        &-input {
            @include m.input-base;
            margin-bottom: 1rem;
            flex-grow: 1;

            &:last-child {
                margin-bottom: 1.5rem;
            }

            &[type="date"]::-webkit-datetime-edit {
                color: v.$primary-color;
            }

            &[type="date"]::-webkit-datetime-edit::placeholder {
                color: v.$primary-color; /* Цвет текста */
                // display: none;
            }
        }
    }

    &__button {
        @include m.button(v.$primary-color, v.$font-light-color);
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    & img {
        padding-bottom: 1rem;
    }
}